<h3>Forgot Password</h3>

<form asp-controller="Security" asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All"></div>

    <input type="text" name="email" id="email" placeholder="Email" /><br />
    <input type="submit" value="Submit" />
</form>
