@model Fiver.Security.AspIdentity.Models.Security.ResetPasswordViewModel

<h3>Reset Password</h3>

<form asp-controller="Security" asp-action="ResetPassword" method="post">
    <div asp-validation-summary="All"></div>

    <input asp-for="Code" type="hidden" />
    <input type="text" asp-for="Email" placeholder="Email" /><br />
    <input type="password" asp-for="Password" placeholder="Password" /><br />
    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" /><br />
    <input type="submit" value="Reset" />
</form>
